<app-menunavbar>
</app-menunavbar>
<ion-content class="main">
  <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">  
    <ion-grid *ngIf="!isLoading">
      <ion-row>
        <ion-col>
          <div class="search-form-container">
            <ion-grid fixed>
              <ion-row>
                <ion-col>
                  <app-input-select
                    (newItemEvent)="onNewCommunity($event)"
                    formControlName="community_id"
                    [formControl]="searchForm.controls['community_id']"
                    [placeholder]="'Seleccionar comunidad autónoma'"
                    [options]="communities"
                    [label]="'Comunidad autónoma'">
                  </app-input-select>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="provinces.length > 0">
                <ion-col>
                  <app-input-select
                    (newItemEvent)="onNewProvince($event)"
                    formControlName="province_id"
                    [formControl]="searchForm.controls['province_id']"
                    [placeholder]="'Seleccionar provincia'"
                    [options]="provinces"
                    [label]="'Provincia'">
                  </app-input-select>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="municipalities.length > 0">
                <ion-col>
                  <app-input-select
                    formControlName="municipality_id"
                    [formControl]="searchForm.controls['municipality_id']"
                    [placeholder]="'Seleccionar Municipio'"
                    [options]="municipalities"
                    [label]="'Municipio'">
                  </app-input-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <app-input-select
                    formControlName="difficulty_level"
                    [formControl]="searchForm.controls['difficulty_level']"
                    [placeholder]="'Seleccionar Nivel de dificultad'"
                    [options]="difficultyLevels"
                    [label]="'Dificultad'">
                  </app-input-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <app-input-text
                    [formControl]="searchForm.controls['origin_name']"
                    formControlName="origin_name"
                    [typeOfInput]="'text'"
                    [labelText]="'Origen'"
                    [placeHolderText]="'origen de la ruta'">
                  </app-input-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <app-input-text
                    [formControl]="searchForm.controls['destination_name']"
                    formControlName="destination_name"
                    [typeOfInput]="'text'"
                    [labelText]="'Destino'"
                    [placeHolderText]="'destino de la ruta'">
                  </app-input-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <app-button-primary
                    [buttonType]="'submit'"
                    [buttonText]="'Registrar'">
                  </app-button-primary>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
