<app-navbar 
  [navBarText]="'SenderAdapt'">
</app-navbar>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-img src="../../assets/images/landscape.jpg"></ion-img>
    </ion-row>
    <ion-row>
      <ion-col class="input-col">
        <app-input-text
          [typeOfInput]="'email'"
          [labelText]="'Correo Electronico'"
          [placeHolderText]="'introduce tu correo'">
        </app-input-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="input-col">
        <app-input-text
          [typeOfInput]="'password'"
          [labelText]="'Contraseña'"
          [placeHolderText]="'contraseña'">
        </app-input-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>4</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>5</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>6</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
