ion-select.custom-input {
    --background: var(--ion-color-tertiary);
    --color: var(--ion-color-primary);
    --placeholder-color: var(--ion-color-primary);
    --placeholder-opacity: 0.5;
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;
    --border-radius: 10px;
    margin-top: 5px !important;
}